# Auto detect text files and perform LF normalization
* text=aut    # ================= SHOP SALES MANAGEMENT APP =========s========

from datetime import datetime

ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "1234"
SALES_FILE = "sales.txt"


def admin_login():
    print("z\n--- ADMIN LOGIN ---")
    username = input("Username: ")
    password = input("Password: ")

    if username == ADMIN_USERNAME and password == ADMIN_PASSWORD:
        print("Login successful")
        return True
    else:
        print("Access denied")
        return False


def record_sale():
    print("\n--- RECORD SALE ---")
    staff = input("Served by (staff name): ")
    amount = float(input("Amount paid: "))

    time_now = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

    file = open(SALES_FILE, "a")
    file.write(f"{time_now},{staff},{amount}\n")
    file.close()

    print("Sale recorded successfully")


def read_sales():
    sales = []
    try:
        file = open(SALES_FILE, "r")
        for line in file:
            time, staff, amount = line.strip().split(",")
            sales.append({
                "time": time,
                "staff": staff,
                "amount": float(amount)
            })
        file.close()
    except:
        pass
    return sales


def daily_summary():
    sales = read_sales()
    today = datetime.now().strftime("%Y-%m-%d")

    total = 0
    print("\n--- TODAY'S SALES ---")
    for sale in sales:
        if sale["time"].startswith(today):
            print(f'{sale["time"]} | {sale["staff"]} | KES {sale["amount"]}')
            total += sale["amount"]

    print("Total Sales Today: KES", total)


def sort_sales(order):
    sales = read_sales()
    sales.sort(key=lambda x: x["amount"], reverse=(order == "desc"))

    print("\n--- SORTED SALES ---")
    for sale in sales:
        print(f'{sale["time"]} | {sale["staff"]} | KES {sale["amount"]}')


def admin_menu():
    while True:
        print("\n=== SHOP ADMIN MENU ===")
        print("1. Record Sale")
        print("2. View Daily Sales")
        print("3. Sort Sales Ascending")
        print("4. Sort Sales Descending")
        print("5. Exit")

        choice = input("Choose option: ")

        if choice == "1":
            record_sale()
        elif choice == "2":
            daily_summary()
        elif choice == "3":
            sort_sales("asc")
        elif choice == "4":
            sort_sales("desc")
        elif choice == "5":
            print("Goodbye")
            break
        else:
            print("Invalid option")


if admin_login():
    admin_menu()
else:
    print("Program terminated")o
